div {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}

button {
  width: 150px;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  list-style: none;
}

li {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 300px;
  padding: 20px;
  border: 2px solid palevioletred;
}

li:nth-child(odd) {
  background-color: #61dafb;
}

li:nth-child(even) {
  background-color: pink;
}
